<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<button type="button" id="updateButton" class="btn btn-primary">Actualizar</button>
<script>
    $( "#updateButton" ).click(function() {
        $("#userTable").load('/user/list/update');
    });
</script>
<div class="container">
    <h2>Usuarios</h2>
    <p>Los usuarios que actualmente figuran en el sistema son los
        siguientes:</p>
    <div class="table-responsive">
        <table th:replace="fragments/userTable" id="userTable"/>
    </div>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>